<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/Home/Index" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>ZenBlog</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a href="/Home/Index">Anasayfa</a>
                </li>
                <li class="dropdown">
                    <a href="">
                        <span>Kategoriler</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                    </a>
                    <ul>
                        @for (var i = 0; i < 5; i++)
                        {
                            <li>
                                <a href="#">Drop Down 1</a>
                            </li>
                        }

                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("EntryById","Entry")">Gönderi</a>
                </li>

                <li>
                    <a href="about.html">Hakkında</a>
                </li>
                <li>
                    <a href="contact.html">İletişim</a>
                </li>
                @if (Session["Email"] == null)
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">Giriş Yap</a>
                    </li>
                }
                else if (Session["Role"].ToString() == "User")
                {
                    <li class="dropdown">
                        <a>
                            <span>Ayarlar</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","Settings")">Kişisel Bilgiler</a>
                            </li>
                            <li>

                                <a href="@Url.Action("SignOut","Account")">Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                }
                else if (Session["Role"].ToString() == "Admin")
                {
                    <li>
                        <a href="@Url.Action("EntryShare","Entry")">Gönderi Paylaş</a>
                    </li>
                    <li class="dropdown">
                        <a>
                            <span>Ayarlar</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","Settings")">Hesapları Yönet</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Settings")">Kişisel Bilgiler</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SignOut", "Account")">Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                }
                else if (Session["Role"].ToString() == "Author")
                {
                    <li class="dropdown">
                        <a>
                            <span>Entrylar</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Settings")">Entry Paylaş</a>
                            </li>
                            <li>

                                <a href="@Url.Action("SignOut", "Account")">Paylaştıklarım</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a>
                            <span>Ayarlar</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Settings")">Kişisel Bilgiler</a>
                            </li>
                            <li>

                                <a href="@Url.Action("SignOut", "Account")">Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                }

            </ul>
        </nav><!-- .navbar -->

        <div class="position-relative">
            <a href="#" class="mx-2">
                <span class="bi-facebook"></span>
            </a>
            <a href="#" class="mx-2">
                <span class="bi-twitter"></span>
            </a>
            <a href="#" class="mx-2">
                <span class="bi-instagram"></span>
            </a>

            <a href="#" class="mx-2 js-search-open">
                <span class="bi-search"></span>
            </a>
            <i class="bi bi-list mobile-nav-toggle"></i>

            <!-- ======= Search Form ======= -->
            <div class="search-form-wrap js-search-form-wrap">
                <form action="search-result.html" class="search-form">
                    <span class="icon bi-search"></span>
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="btn js-search-close">
                        <span class="bi-x"></span>
                    </button>
                </form>
            </div><!-- End Search Form -->

        </div>

    </div>

</header>